<!DOCTYPE html>
<html>

  <head>
    <title>Lunch-Me</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
     <link href='/css/lunch.css' rel='stylesheet'>
      <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <template id='profile_template'>
      <article>
        <h1>{{name}}</h1>
        <p id='rating'>{{rating}}</p>
        <h4>Cost: {{price.message}}</h4>
        <p>{{location.distance}} meters away</p>
        <p>{{location.formattedAddress.0}} </p>
        <p>{{location.formattedAddress.3}}</p>
      </article>"
  </template>

    <header>
      <h1 id="main">Hungry Old Street?</h1>
      <button class="button" data-option='burgers'>Burgers</button>
      <button class="button" data-option='sushi'>Sushi</button>
      <button class="button" data-option='beer'>Beer</button>
      <button class="button" data-option='noodles'>Noodles</button>
      <button class="button" data-option='doughnuts'>Doughnuts</button>

      <button class="button" data-option='coffee'>Coffee</button>

       <button class="button" data-option='cake'>Cake</button>
  </header>
    <section id='map'> </section>
    <section id='results'> </section>






    <script src='https://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script src='/js/mustache.js'></script>
    <script src=" http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='/js/gmaps.js'></script>


    <script src='js/lunch_me.js'></script>

  </body>
</html>