<!DOCTYPE html>
<html>

  <head>
    <title>Lunch-Me</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
     <!-- <link href='/css/lunch.css' rel='stylesheet'> -->
      <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <h1>Lunch-Me!</h1>
    </header>
    <section>
      <aside>
        <nav>
          <ul><!-- button category template rendered here--></ul>
        </nav>
      </aside>
      <section id='map'> </section>
      <section id='results'> </section>
    </section>
    <footer>
      <button data-option='list' id="list_button">List</button>
      <button data-option='map' id="map_button">Map</button>
    </footer>

    <script src='//code.jquery.com/jquery-2.0.3.min.js'></script>
    <script src='/js/mustache.js'></script>
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src='/js/gmaps.js'></script>


    <template id='profile_template'>
      <article>
        <h1>{{name}}</h1>
        <p id='rating'>{{rating}}</p>
        <h4>Cost: {{price.message}}</h4>
        <p>{{location.distance}} meters away</p>
        <p>{{location.formattedAddress.0}} </p>
        <p>{{location.formattedAddress.3}}</p>
      </article>"
    </template>
    <template id='categories'>
      {{#categories}}
        <li>
          <a href='#' class="button" data-option='{{query}}'>{{name}}</a>
        </li>
      {{/categories}}
    </template>
    <script>
      var categories = [
        {name: 'Burgers', query: 'burger'},
        {name: 'Sushi', query: 'sushi'},
        {name: 'Beer', query: 'beer'},
        {name: 'Noodles', query: 'noddles'},
        {name: 'Doughnuts', query: 'doughnuts'},
        {name: 'Coffee', query: 'coffee'},
        {name: 'Cake', query: 'cake'},
        {name: 'Vegan', query: 'vegan'},
        {name: 'Veggie', query: 'vegetarian'},
        {name: 'Gluten Free', query: 'gluten+free'},
        {name: 'Indian', query: 'indian'},
        {name: 'Ice Cream', query: 'ice+cream'},
        {name: 'Cocktails', query: 'cocktails'}
      ];
      var category_template = $('#categories').html();
      var rendered_categories = Mustache.render(category_template,
                                                    { categories: categories });
      $('section aside nav ul').html(rendered_categories);
    </script>
    <script src='/js/lunch_me.js'></script>
  </body>
</html>
