<!DOCTYPE html>
<html>

  <head>
    <title>Lunch-Me</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
     <link href='/css/lunch.css' rel='stylesheet'>
      <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <template id='profile_template'>
      <article>
        <h1>{{name}}</h1>
        <p id='rating'>{{rating}}</p>
        <h4>Cost: {{price.message}}</h4>
        <p>{{location.distance}} meters away</p>
        <p>{{location.formattedAddress.0}} </p>
        <p>{{location.formattedAddress.3}}</p>
      </article>"
  </template>

    <header>
      <h1 id="main">Hungry Old Street?</h1>
      <button class="button" data-option='burgers'>Burgers</button>
      <button class="button" data-option='sushi'>Sushi</button>
      <button class="button" data-option='beer'>Beer</button>
      <button class="button" data-option='noodles'>Noodles</button>
      <button class="button" data-option='doughnuts'>Doughnuts</button>

      <button class="button" data-option='coffee'>Coffee</button>

       <button class="button" data-option='cake'>Cake</button>
  </header>
  <section id='map'> </section>
    <section id='results'> </section>






    <script src='https://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script src='/js/mustache.js'></script>
    <script src=" http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='/js/gmaps.js'></script>


    <script>
    var map;
      $(document).ready(function(){
          map = new GMaps({
                    div: '#map',
                    lat: 51.523102,
                    lng: -0.087393,
                  });

        var base_url ='https://api.foursquare.com/v2/venues/explore?client_id=J0IWD3NBN2YKHAI5U1GA1S1PJ5WPZYTPX5DSYKOLLC5QCSWO&client_secret=UFJUDAPQZUX5LDPMDHGK3XOPB4QDH5HPA13J1WTP1QPWA0SB&v=20130815&ll=51.523102,-0.087393&radius=1000'

// we collect data via this URI

        $('button').on('click',function(){
          var option = $(this).data('option');
          var url = base_url + '&query=' + option;

//Adds an extra search function onto the end of the API

          map.removeMarkers();
          $.get(url, function(data){


//Taking the data that URI generates
            var results = data.response.groups[0].items;
            results = results.sort(function(a,b){
              return a.venue.rating - b.venue.rating;
            })
            $('html').css('background-image',"url('/images/"+option+".jpg')");
            $('#results').html('');

            results.forEach(function(element, _, _){

// iterate over each object found - saving each one as a venue
              var venue = element.venue;
// take each of the elements attributes listed and display in the results section
              if(venue.price && venue.rating) {
                var newProfile = Mustache.render($('#profile_template').html(), venue);

                  console.log(venue);

                  map.addMarker({
                    lat: venue.location.lat,
                    lng: venue.location.lng,
                    title: venue.name,
                    infoWindow: {
                      content: venue.name +": "+venue.rating+" Cost -"+venue.price.message
                    }
                  });

             $(newProfile).prependTo('#results');
              };

            });

          });

        });

      });






    </script>

  </body>
</html>