<!DOCTYPE html>
<html>
  <head>
    <title>Feed-Me</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style>
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
      body {
        background: salmon;
      }
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      body {
        background: blue;
      }
    }
    </style>
  </head>

  <body>
    <section>
      <header><h1>Lunch Me!</h1></header>
      <ul>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
        <li>HERRO</li>
      </ul>
    </section>
  </body>
</html>
