@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
   font-family: 'Raleway', sans-serif;
}

html {
  background: whitesmoke;
  background: center center fixed;
  background-image: url('/images/cat.jpg')
}

#navigation {
  background-color: white;
  position: fixed;
  top: 0%;
  width: 20%;
  min-width: 10em;
  height: 100%;
  text-align: center;
}
#navigation img {
  max-width: 70%;
  padding: .4em;
}
#navigation li {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

#navigation li:hover {
  background: #bdc3c7;
}

#navigation li:hover a {
  color: white;
  font-weight: 500;
}

#navigation a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.1em;

  text-decoration: none;
  text-transform: uppercase;
  color: grey;
}

#navigation footer {
  position: absolute;
  bottom: .4em;
  left: 0;
  padding-top: 1.8em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .7em;
  text-align: center;
}

#navigation footer a {
  text-transform: none;
}

#navigation footer a:hover {
  color: black;
  text-decoration: underline;
}

button {
  display: inline-block;
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

#results {
  margin-left: 10em;
  min-width: 10em;
}

article {
    background-color: white;
    margin: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 7px;
    width: 60%;
    min-width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 200;
}

article h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  text-align: center;
  font-weight: 400px;
}

article h1 a {
  padding: .1em;
  padding-left: 0;

  text-transform: uppercase;
  text-decoration: none;

  color: grey;
}

article h1 a:hover {
  color: black;
  text-decoration: underline;
}

article span {
  margin-left: 97%;
}

article span img {
  max-width: 3%;
}

article span a:hover {
  background: white;
}

article p {
  margin-bottom: 1em;
  margin-left: .4em;
  text-align: center;
  text-transform: lowercase;
  /*color: grey;*/
  font-weight: 100;
}

article address {
  margin-top: 1em;
  margin-left: .4em;

  font-size: .6em;
  font-weight: 200;
}

article address a {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;

  text-decoration: none;
  text-transform: none;
  color: grey;
}

article address a:hover {
  color: black;
  text-decoration: underline;
}

article footer {
  margin-top: -1em;
  margin-left: .4em;
  font-size: .6em;
  font-weight: 200;
  text-align: right;
  color: grey;
}

//gmaps styling

#map{
  z-index: 100000;
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;

}

#pin{
  size: 30%;
}
