body {
   margin-top: 155px;
   font-family: 'Raleway', sans-serif;
}

html {
  background: no-repeat center center fixed;
  background-size: cover;
}

header {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  display: inline-block;
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

article {
    background-color: white;
    margin: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 7px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#main {
  margin-top: 25px;
  margin-bottom: 15px;
   font-size: 40px;
}

h1 {
  font-size: 25px;
}

#rating {
  float: right;
  margin-top: -19px;
}

